@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.App{
    /* border: solid purple; */
    background-color: #ffffff;
    position: relative;
    /* height: 100vh; */
    /* padding-bottom: 14em; */
}

body{
    font-family: 'Lato', cursive;
}
