@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


/* .App{
    background-color: #ffffff;
    border: solid purple; 
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-bottom: 14em;
} */

body{
    font-family: 'Lato', sans-serif;
    /* height: 100vh;
    padding: 0; */
}
